<div id="columns">

  <div id="side">
    <ul>
      <% @class_orgs.each do |class_org| %>
        <li><%= link_to(class_org.description, class_org) %> </li>
      <% end %>
    </ul>
    <ul>
      <li><%= link_to '返回', :back %></li>
    </ul>
  </div>

  <div id="main">
    <h1>新建班级</h1>

    <%= render 'form', class_org: @class_org %>

  </div>
</div>