<div id="columns">

  <div id="side">
    <ul>
      <% @exam_items.each do |exam_item| %>
        <li><%= link_to(exam_item.name, exam_item) %> </li>
      <% end %>
    </ul>
    <ul class="side-bottom">
      <li><%= link_to '返回', :back %></li>
    </ul>
  </div>

  <div id="main">
    <h1>新建考核项</h1>

    <%= render 'form', exam_item: @exam_item %>
  </div>
</div>
